#bar1{
    text-align: center;
}
#bar2{
    background-color: red;
    position: sticky;
}


#bar4{
    background-color: red;
    position: sticky;
}

#bar6{
    background-color:red;
    position: sticky;
}
